a{
    color:green;
}
a:hover{
    background-color:green;
    color:whitesmoke;
}
li,p,span{
    font-family:'Times New Roman',Times,serif;
    font-size:16px;
    color:ghostwhite;
}
b{
    color:lightsalmon;
}
i{
    color:lightyellow;
}
summary::-webkit-details-marker{
    color:snow;
}
summary{
    font-size:18px;
    color:snow;
}
body{
    background-color:black;
}
svg{
    height:32px;
    width:32px;
}